@import "../../assets/colors.scss";

@font-face {
    font-family: 'Myriad Pro Light';
    src: url(../../fonts/MyriadPro-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Mostra Nuova';
    src: url(../../fonts/MostraNuova-Regular.ttf) format('truetype');
}

a{
    color: black;
    text-decoration: none; /* no underline */
}

.wrapper{
    font-family: 'Myriad Pro Light', sans-serif;
    text-transform: uppercase;
    color: $rosybrown;
    font-size: smaller;
    width: 8vw;
    //padding-top: 5vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    //background-color: blue;

    margin-left: 1vw;
    margin-right: 1vw;

    .imgHolder{
        height: 85px;
        width: 85px;
        //background-color: brown;
        overflow: hidden;
        border: 4.2px solid $rosybrown;
        border-radius: 50%;

        //position: relative;
        //bottom: 2vh;
        

        img{
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: 100%;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            -o-transition:.3s;
            -ms-transition:.3s;
            -moz-transition:.3s;
            -webkit-transition:.3s;
            transition:.3s;
        }
    }

    .circle{
        transform: scale(1);
        position: relative;
        bottom: 14vh;
        right: 0.08vw;
    }

    .number{
        font-family: 'Mostra Nuova', sans-serif;
        padding: 0;
        margin: 0;
        position: relative;
        bottom: 14vh;
        text-align: end;
        font-size: xx-small;
        width: 100%;
        border-bottom: 2px solid $rosybrown;
    }

    .text{
        width: 100%;
        padding: 0;
        margin: 0;
        margin-top: 4px;
        position: relative;
        bottom: 14vh;
        font-size: smaller;
        text-align: start;
    }
}

.wrapper:hover{
    cursor: pointer;
    color: $pinkbrown;

    .imgHolder{
        border: 4.2px solid $pinkbrown;

        img{
            filter: none;
        }
    }

    .number{
        border-bottom: 2px solid $pinkbrown;
    }

    .circle{
        z-index: 5;
        transform: scale(1);
        -webkit-animation: myOrbit 2.2s linear infinite; 
        -moz-animation: myOrbit 2.2s linear infinite;
        -o-animation: myOrbit 2.2s linear infinite;
        animation: myOrbit 2.2s linear infinite;
    }
}


@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(8px) rotate(0deg) scale(1); }
    to   { -webkit-transform: rotate(360deg) translateX(8px) rotate(-360deg) scale(1); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(8px) rotate(0deg) scale(1); }
    to   { -moz-transform: rotate(360deg) translateX(8px) rotate(-360deg) scale(1); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(8px) rotate(0deg) scale(1); }
    to   { -o-transform: rotate(360deg) translateX(8px) rotate(-360deg) scale(1); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(8px) rotate(0deg) scale(1); }
    to   { transform: rotate(360deg) translateX(8px) rotate(-360deg) scale(1); }
}