.wrapper{
    //height: 300vh;
    width: 100%;
    background-color: rgb(44, 44, 44);
    background-image: url(../../images/bg-black.svg);
    background-size: cover;

    .headerSection{
        //overflow: hidden;
        position: relative;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-image: url(../../assets/paralax/bg-offer.jpg);
        background-size: auto 500%;
        background-repeat: no-repeat;
        background-position: center;
        //width: 80%;

        img{
            transform: scale(1.5);
            position: absolute;
            left: -35vw;
            top: -30vh;
        }

        .left{
            width: 40%;
            height: 100%;
            position: relative;

            .circlesSvg{
                position: absolute;
                opacity: 0.4;
                left: -30vw;
                z-index: 0;          
                transform: scale(3) ;
            }
        }

        .middle{
            position: relative;
            bottom: 7vh;

            width: 20%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            .logoSvg{
                transform: scale(3.2);
                position: relative;
                top: 5vh;
            }
        }

        .right{
            width: 40%;
            height: 100%;
        }
    }

    .contentSection{
        position: relative;
        bottom: 27vh;
        
        background-image: url(../../images/bg-offer.svg);
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;

        .contentWrapper{
            //background-color: red;
            width: 90%;
            height: 85%;

            margin-top: 30vh;
            margin-bottom: 25vh;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .contentHeader{
                width: 100%;
                height: 20vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                background-image: url(../../images/header-offer.svg);
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position: center; 
            }

            .content{
                width: 55%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .tabs{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 6vh;
                }

                p{
                    i{
                        padding: 0;
                        margin: 0;
                        color: burlywood;
                    }
                }

                .ornament{
                    margin-top: 10vh;
                }
            }
        }
    }
}