@import "../../assets/colors.scss";

@media (max-width: 850px){

    .menuClose{
        position: fixed;
        top: 0;
        left: -100vw;
        min-width: 100vw;
    }

    .menuOpened{
        min-width: 100vw;
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0vw;
    }
}

@media (max-width: 600px){
    .navClosed{
        min-width: 100vw;

        li{
            max-width: 30px;
        }

        .itemHover:before{
            max-width: 30px;
        }
    }

    .navOpened{
        min-width: 100vw;

        li{
            max-width: 30px;
        }

        .itemHover:before{
            max-width: 30px;
        }
    }
}

@font-face {
    font-family: 'Mostra Nuova';
    src: url(../../fonts/MostraNuova-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Mostra Nuova Regular';
    src: url(../../fonts/MostraNuova-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Myriad Pro';
    src: url(../../fonts/MyriadPro-Regular.ttf) format('truetype');
}

.menuClosed{
    z-index: 2;
    background-image: url(../../images/head.svg);
    background-position: -12vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50vw 100vh;
    background-color: white;
    height: 100%;
    width: 50vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -50vw;
    overflow-x: hidden;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .upper{
        font-weight: lighter;
        display: flex;
        height: 5vh;
        //background-color: red;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .menuTitle{
            color: $rosybrown;
            font-size: smaller;
            font-weight: lighter;
            font-family: "Mostra Nuova" , sans-serif;
            position: relative;
            left: 10px;
        }

        .menuSvgRot{
            
        }
    }

    .items{
        min-height: 90vh;
        width: 95%;
        //background-color: yellow;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .itemsRow{
            position: relative;
            top: 10vh;
            min-width: 85%;
            max-width: 85%;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

.menuOpened{
    z-index: 2;
    background-image: url(../../images/head.svg);
    background-position: -12vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50vw 100vh;
    background-color: white;
    height: 100%;
    width: 50vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0vw;
    overflow-x: hidden;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    .upper{
        display: flex;
        height: 5vh;
        //background-color: red;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .menuTitle{
            color: $rosybrown;
            font-size: smaller;
            font-weight: lighter;
            font-family: "Mostra Nuova" , sans-serif;
            position: relative;
            left: 10px;
        }

        .menuSvgRot{
            
        }
    }

    .items{
        min-height: 90vh;
        width: 95%;
        //background-color: yellow;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .itemsRow{
            position: relative;
            top: 10vh;
            min-width: 85%;
            max-width: 85%;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

.navOpened{
    z-index: 50;
    margin-top: 4vh;
    position: fixed;
    width: 70vw;
    top: 0;

    -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;

    .navItems{
        width: 100%;
        cursor: pointer;

        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            margin: 0;
            
            li{
                height: 20px;
                width: 45px;
                display: inline-block;
                //background-color: yellow;

                .itemButton{
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                    line-height: 0.50;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    p{
                        padding: 0;
                        font-size: smaller;
                    }
                }
                
                .itemHover{
                    font-family: 'Mostra Nuova', sans-serif;
                    color: $rosybrown;
                    padding-top: 10px;
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                    line-height: 0.50;

                    p{
                        padding: 0;
                        font-size: xx-small;
                    }
                }

                .itemHover:before{
                    position: absolute;
                    
                    content: '';
                    width: 45px;
                    background-color: $rosybrown;
                    height: 1px;

                    -o-transition:.2s;
  		            -ms-transition:.2s;
                    -moz-transition:.2s;
                    -webkit-transition:.2s;
                    transition:.2s;
                }

            }

            li:hover .itemHover:before{
                height: 5px;
            }

            .itemRight{
                p{
                    text-align: end;
                }
            }

            .itemMenu{
                font-family: "Mostra Nuova Regular" , sans-serif;
                width: 100px;
                position: relative;
                bottom: 10px;
                cursor: pointer;

                .menuText{
                    text-decoration: none;
                    color: $rosybrown;
                    text-align: center;
                    font-size: 9px;
                    letter-spacing: 4px;
                    top: 3px;
                    position: relative;
                    left: 2px;
                }

                .menuSvg{
                    transform: scale(1.1);
                    min-height: 100%;
                }
            }
        }
    }
}

.navClosed{
    z-index: 50;
    margin-top: 4vh;
    position: fixed;
    width: 70vw;
    top: -15vh;

    -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;

        .navItems{
            width: 100%;
            cursor: pointer;
    
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 0;
                margin: 0;
                
                li{
                    height: 20px;
                    width: 45px;
                    display: inline-block;
                    //background-color: yellow;
    
                    .itemButton{
                        text-decoration: none;
                        height: 100%;
                        width: 100%;
                        line-height: 0.50;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
    
                        p{
                            padding: 0;
                            font-size: smaller;
                        }
                    }
                    
                    .itemHover{
                        font-family: 'Mostra Nuova', sans-serif;
                        color: $rosybrown;
                        padding-top: 10px;
                        text-decoration: none;
                        height: 100%;
                        width: 100%;
                        line-height: 0.50;
    
                        p{
                            padding: 0;
                            font-size: xx-small;
                        }
                    }
    
                    .itemHover:before{
                        position: absolute;
                        
                        content: '';
                        width: 45px;
                        background-color: $rosybrown;
                        height: 1px;
    
                        -o-transition:.2s;
                          -ms-transition:.2s;
                        -moz-transition:.2s;
                        -webkit-transition:.2s;
                        transition:.2s;
                    }
    
                }
    
                li:hover .itemHover:before{
                    height: 5px;
                }
    
                .itemRight{
                    p{
                        text-align: end;
                    }
                }
    
                .itemMenu{
                    font-family: "Mostra Nuova Regular" , sans-serif;
                    width: 100px;
                    position: relative;
                    bottom: 10px;
                    cursor: pointer;
    
                    .menuText{
                        text-decoration: none;
                        color: $rosybrown;
                        text-align: center;
                        font-size: 9px;
                        letter-spacing: 4px;
                        top: 3px;
                        position: relative;
                        left: 2px;
                    }
    
                    .menuSvg{
                        transform: scale(1.1);
                        min-height: 100%;
                    }
                }
            }
        }
}