.wrapper{
    z-index: 50;
    margin-top: 4vh;
    position: fixed;
    width: 70vw;

    .navItems{
        width: 100%;

        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            
            li{
                height: 20px;
                width: 70px;
                display: inline-block;
                //background-color: yellow;

                .itemButton{
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                    line-height: 0.50;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    p{
                        padding: 0;
                        font-size: smaller;
                    }
                }
                
                .itemHover{
                    padding-top: 10px;
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                    line-height: 0.50;

                    p{
                        padding: 0;
                        font-size: smaller;
                    }
                }

                .itemHover:before{
                    position: absolute;
                    
                    content: '';
                    width: 70px;
                    background-color: black;
                    height: 3px;

                    -o-transition:.2s;
  		            -ms-transition:.2s;
                    -moz-transition:.2s;
                    -webkit-transition:.2s;
                    transition:.2s;
                }

            }

            li:hover .itemHover:before{
                height: 8px;
            }

            .itemRight{
                p{
                    text-align: end;
                }
            }

            .itemMenu{
                width: 100px;
                position: relative;
                bottom: 10px;

                .menuText{
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    font-size: 12px;
                    letter-spacing: 4px;
                    position: relative;
                    left: 2px;
                }

                .menuSvg{
                    transform: scale(1.5);
                    min-height: 100%;
                }
            }
        }
    }
}