@import "../../assets/colors.scss";

@media (max-width: 1000px){
    .wrapper{
        width: 95%;
    }
}

@font-face {
    font-family: 'Mostra Nuova Bold';
    src: url(../../fonts/MostraNuova-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Mostra Nuova";
    src: url(../../fonts/MostraNuova-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Myriad Pro Light';
    src: url(../../fonts/MyriadPro-Light.ttf) format('truetype');
}

.wrapper{
    //height: 102%;
    width: 105%;
    background-color: rgb(44, 44, 44);
    background-image: url(../../images/bg-black.svg);
    //background-size: cover;

    .headerSection{
        height: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .logoSvg{
            transform: scale(1.2);
            position: relative;
            top: 5vh;
        }
    }

    .contentSection{
        //width: 100%;
        background-image: url(../../images/bg-about.svg);
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;

        .contentWrapper{
            //background-color: red;
            width: 90%;
            height: 85%;

            margin-top: 30vh;
            margin-bottom: 25vh;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .contentHeader{
                font-family: 'Mostra Nuova Bold', sans-serif;
                font-weight: lighter;
                font-size: 18px;
                text-transform: uppercase;
                color: $darkgray;

                width: 100%;
                height: 20vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-image: url(../../images/header-about.svg);
                background-size: auto 100%;
                background-repeat: no-repeat;
                background-position: center; 
                
                h2{
                    position: relative;
                    //top: 3.5vh;
                    //padding: 0;
                    margin: 0;
                }

                p{
                    padding-bottom: 1vh;
                    margin: 0;
                    font-family: 'Myriad Pro Light', sans-serif;
                    text-transform: uppercase;
                    color: $rosybrown;
                    font-size: small;
                    letter-spacing: 4px;
                }
            }

            .content{
                h2{
                    font-family: 'Mostra Nuova', sans-serif;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: $rosybrown;
                }

                width: 55%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .tabs{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 6vh;

                    p{
                        text-align: center;
                        //color: $rosybrown;
                    }
                }

                .grayText{
                    font-family: 'Myriad Pro Light' , sans-serif;
                    text-align: left;
                    color: $textgray;
                    i{
                        padding: 0;
                        margin: 0;
                        color: $rosybrown;
                    }
                }

                .bottomContent{
                    width: 72vw;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;

                    margin-top: 5vh;

                    .left{
                        min-width: 25%;
                    }

                    .middle{
                        width: 50%;
                        text-align: center;

                        p{
                            margin-bottom: 10vh;
                            text-align: center;
                        }
                    }

                    .right{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 25%;
                    }
                }
            }
        }
    }
}