@import "../../assets/colors.scss";

@font-face {
    font-family: 'Myriad Pro Light';
    src: url(../../fonts/MyriadPro-Light.ttf) format('truetype');
}

.wrapper{
    position: fixed;
    bottom: 0;

    height: 10vh;
    width: 100vw;

    //background-color: aqua;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

    margin-bottom: 3.5vh;

    .column{
        //font-family: 'Myriad Pro Light';
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 20vw;
        margin-left: 2vw;

        i{
            padding: 0;
            margin: 0;
            font-size: x-small;
            color: white
        }

        .square1{
            display: flex;
            align-items: center;
            justify-content: center;

            margin-top: 2px;
            margin-bottom: 2px;
            background-color: $rosybrown;
            min-height: 20px;
            min-width: 20px;
            max-height: 20px;
            max-width: 20px;
            cursor: pointer;

            -o-transition:.3s;
            -ms-transition:.3s;
            -moz-transition:.3s;
            -webkit-transition:.3s;
            transition:.3s;
        }
        .square2{
            display: flex;
            align-items: center;
            justify-content: center;
            
            margin-top: 2px;
            margin-bottom: 2px;
            background-color: $rosybrown;
            min-height: 20px;
            min-width: 20px;
            max-height: 20px;
            max-width: 20px;
            cursor: pointer;

            -o-transition:.3s;
            -ms-transition:.3s;
            -moz-transition:.3s;
            -webkit-transition:.3s;
            transition:.3s;
        }
        .square3{
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;
            margin-top: 2px;
            margin-bottom: 2px;
            background-color: $rosybrown;
            min-height: 20px;
            min-width: 20px;
            max-height: 20px;
            max-width: 20px;

            -o-transition:.3s;
            -ms-transition:.3s;
            -moz-transition:.3s;
            -webkit-transition:.3s;
            transition:.3s;
        }

        .square1:hover{
            background-color: #4267B2;
        }
        .square2:hover{
            background-color: #1DA1F2;
        }
        .square3:hover{
            background-color: #DB4437;
        }
    }
}