.wrapper{
    height: 100vh;
    width: 100%;
    background-color: rgb(44, 44, 44);
    background-image: url(../../images/bg-black.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    color: burlywood;
}