body{
    background-color: whitesmoke;
}

.app{
    margin: 0 auto;
    width: 72vw;
    overflow: hidden;
    overflow-y: visible;
    //background-color: rgb(29, 29, 29);
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1000px){
    .app{
        width: 100vw;
    }
}
