@import "../../assets/colors.scss";

@media (max-width: 1000px){
    .wrapper{
        width: 95%;
    }
}

@media (max-width: 780px){
    .contentWrapper{
        min-width: 90%;

        .content{
            min-width: 90%;
        }
    }
}

@media (max-width: 450px){
    .contentHeader{
        margin-top: 10vh;
    }
}

@media (max-width: 450px){
    .tabs{
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }
}

@font-face {
    font-family: 'Mostra Nuova Bold';
    src: url(../../assets/fonts/MostraNuova-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Myriad Pro Light';
    src: url(../../assets/fonts/MyriadPro-Light.ttf) format('truetype');
}

.wrapper{
    //height: 300vh;
    z-index: 0;
    position: relative;
    bottom: 54vh;
    overflow: hidden;
    width: 103%;
    background-color: rgb(44, 44, 44);
    background-image: url(../../images/bg-black.svg);
    background-size: cover;

    .headerSection{
        //overflow: hidden;
        position: relative;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background-image: url(../../assets/paralax/bg-transform.jpg);
        background-size: auto 500%;
        background-repeat: no-repeat;
        background-position: center;

        img{
            transform: scale(1.5);
            position: absolute;
            left: -35vw;
            top: -30vh;
        }

        .left{
            width: 40%;
            height: 100%;
            position: relative;

            .circlesSvg{
                position: absolute;
                opacity: 0.4;
                left: -30vw;
                z-index: 0;          
                transform: scale(5) rotateZ(-10deg);
            }
        }

        .middle{
            position: relative;
            bottom: 7vh;

            width: 20%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            .logoSvg{
                transform: scale(3.2);
                position: relative;
                top: 5vh;
            }
        }

        .right{
            width: 40%;
            height: 100%;
        }
    }

    .contentSection{
        position: relative;
        bottom: 27vh;
        z-index: 5;
        background-image: url(../../images/bg-needs.svg);
        background-size: cover;

        //position: ;

        display: flex;
        align-items: center;
        justify-content: center;

        .contentWrapper{
            //background-color: red;
            width: 90%;
            height: 85%;

            margin-top: 30vh;
            margin-bottom: 25vh;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .contentHeader{
                font-family: 'Mostra Nuova Bold', sans-serif;
                font-weight: lighter;
                font-size: 18px;
                text-transform: uppercase;
                color: $darkgray;

                width: 100%;
                height: 20vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-image: url(../../images/header-transform.png);
                background-size: auto 60%;
                background-repeat: no-repeat;
                background-position: center; 

                h2{
                    position: relative;
                    //top: 3.5vh;
                    //padding: 0;
                    margin: 0;
                }

                p{
                    padding-bottom: 1vh;
                    margin: 0;
                    font-family: 'Myriad Pro Light', sans-serif;
                    text-transform: uppercase;
                    color: $rosybrown;
                    font-size: small;
                    letter-spacing: 4px;
                }
            }

            .content{
                h3{
                    font-family: 'Mostra Nuova', sans-serif;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: $rosybrown;
                }

                i{
                    padding: 0;
                    margin: 0;
                    color: $rosybrown;
                }

                width: 55%;
                display: flex;
                flex-direction: column;
                align-items: center;
                //text-align: center;

                .largeParagraph{
                    margin-bottom: 10vh;
                    font-family: 'Myriad Pro Light' , sans-serif;
                    color: $textgray;
                    text-align: center;
                }

                p{
                    margin-bottom: 0;
                    padding-bottom: 0;
                }

                i.grayText{
                    color: $rosybrown;
                    font-weight: bolder;
                }

                .grayText{
                    font-family: 'Myriad Pro Light' , sans-serif;
                    text-align: left;
                    color: $textgray;
                    i{
                        padding: 0;
                        margin: 0;
                        color: $rosybrown;
                    }
                }


                .tabs{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 6vh;

                    .middleTab{
                        //transform: scale(5);
                    }
                }
                
                .ornament{
                    margin-top: 15vh;
                }
            }
        }
    }
}